<h1>Doctor-patient APP</h1>

<p>List a New Doctor:</p>

<form action="/doctors" method="post">
  <label for="name">Input the Doctor's Name:</label>
  <input id="name" name="name" type="text">

<form action="/doctors" method="post">
  <label for="speciality">Input the Doctor's Speciality:</label>
  <input id="speciality" name="speciality" type="text">

  <button type="submit">Add New Doctor</button>
</form>

<p> Add Patient to any Doctors:</p>

<form action="/patients" method="post">
  <label for="doctor_id">Select a Doctor</label>
  <select id='doctor_id' name='doctor_id' type='text'>
    <% @doctors.each() do |doctor| %>
    <option value="<%= doctor.id()%>"> <%= doctor.name() %> </option>
    <% end %>
  </select>

  <label for="name">Name of the Patient:</label>
  <input id="name" name="name" type="text">

  <label for="birthdate">Birthdate of the Patient:</label>
  <input id="birthdate" name="birthdate" type="date">

  <button type="submit">Add Patient</button>
</form>


<% if @doctors.any?() %>
<p>Click on the Doctor to see its patients:</p>

<ul>
  <% @doctors.each do |doctor| %>
  <li><a href="/doctors/<%= doctor.id() %>"><%= doctor.name() %> : <%= doctor.speciality() %> </a></li>
  <% end %>
</ul>
<% else %>
<p>There are no Doctors yet!</p>
<% end %>
